_deps
CMakeCache.txt
CMakeFiles/*
*/CMakeFiles/*
*/*/CMakeFiles/*
Makefile
*/Makefile
*/*/Makefile
*.cmake
*/*.cmake
*/*.a
*/*/*.a
*/*_test
arena
santorini/santorini
santorini/old
main
run_gravity
test
pid
soko
collision
piano_mover
compile_commands.json
benchmark.cc
tags
