CMakeCache.txt
CMakeFiles/*
*/CMakeFiles/*
*/*/CMakeFiles/*
Makefile
*/Makefile
*/*/Makefile
*.cmake
*/*.cmake
*/*/*.a
arena
santorini
main
run_gravity
test
pid
soko
collision
piano_mover
compile_commands.json
benchmark.cc
temp/*
glfw/src/glfw3.pc
glfw/src/glfw_config.h
tags
