CMakeCache.txt
CMakeFiles/*
*/CMakeFiles/*
*/*/CMakeFiles/*
Makefile
*/Makefile
*/*/Makefile
*.cmake
*/*.cmake
*/*/*.a
sima
test
a.*
compile_commands.json
benchmark.cc
temp/*
glfw/src/glfw3.pc
glfw/src/glfw_config.h
